* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 12px;
  font-family: "Monserrat", "san-serif";
  color: #000;
  width: 100%;
  min-height: 100%;
}
@media only screen and (min-width: 768px) {
  html, body {
    font-size: 18px;
  }
}



#abgRes td, #abgRes th {
  border: 1px solid #ffffff;
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

table {
  margin-left: auto;
  margin-right:auto;
}

.disclaimer {
  text-align: center;
}

@media print {
  button{
    display: none;
  }
}

grid {

  display: grid;
  gap: 0.5rem;
  grid-template-columns: 
    1fr 1fr 1fr;
    text-align: center;
}

button {
  font-family: Georgia, 'Times New Roman', sans-serif;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #D1EBDB;
  width: 90%;
  line-height: 2;
}


